@model IEnumerable<CheeseMVC.Models.Menu>

<h1>Menus</h1>
<p><a asp-controller="Menu" asp-action="Add">Add Menu</a></p>

<ul>
    @foreach(Var menu in Model)
    {
        <li>
            <a asp-controller="Menu" asp-action="Viewmenu" asp-roud-id="@menu.ID">@menu.Name</a>
        </li>
    }
    
</ul>